.menu-lateral a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    padding: 7px 15px;
    border: 1px solid #eee;
}

.menu-lateral {
    height: 100%;
    overflow: auto;
}

.btn-tipo-pokemon:hover {
    backdrop-filter: blur(10px);
    background-color: black;
}